[Desktop Entry]
Version=1.0
Type=Application

Name=Adventure List
Comment=Multi-platform Todo list App
Categories=Utility;

Icon=codes.merritt.adventurelist
Exec=adventure_list
Terminal=false
StartupWMClass=adventure_list
